body{
    font-family: serif;
    font-size: 20px;
    line-height: 140%;
    margin-top: 0px;
    color: #111;
    background: linear-gradient(135deg, #0F2027 0%, #203A43 50%, #2C5364 100%);
}
.wrapper{
    width: 95%; 
    overflow: hidden;
    background: #ffffff;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 15% 75% 10%;
    grid-auto-rows: auto;
    box-shadow: 0px 0px 15px 5px #666;
}
.wrapper > div{
    border: 1px solid black;    
    /* border-radius: 15px; */
    margin: 15px;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.7);
    padding: 10px;
}
.header{
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    height: 120px;
    background: #203A43;
}
.sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 4;;
    background: #ffffff;}
.main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background: #ffffff;
    display: flex;
    flex-wrap: nowrap;
}
.main-left{
    border-right: 1px solid #bbb;
    padding: 20px;
    width: 60%;
}
.main-right{
    padding: 20px;
    width: 40%;
}
.sidebar2{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background: #ffffff;}
.footer{
    grid-column: 2 / 3;
    grid-row: 3 /4;
    height: 50px;
    background: #ffffff;
}
ul > li{
    /* padding: 20px;
    margin: 20px; */
    font-size: 18px;
}